@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*{
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
    color:rgb(230, 230, 230);
}

#main{
    text-align: justify;
}

#foto-perfil{
    width: 500px;
    border-radius: 15px;
    margin: 5px 80px 30px 50px;
    float: left;
}

.botao {
    transition-duration: 0.1s;
    display: inline;
    margin: 10px 40px 10px 50px;
    color: rgb(10, 8, 8);
    padding: 5px 10px;
    border: none;
    background-color: rgb(230, 230, 230);
}
.botao:hover{
    font-size: 40px;
    margin: 0px 30px 0px 40px;
    transition-duration: 0.1s;
}

#menu{
    text-align: end;
    background-color: rgb(230, 230, 230);
    height: 70px;
}

#menu a {
    text-decoration: none;
}

#inicial{
    padding: 50px;
    height: 1000px;
    background-image: linear-gradient(rgb(26, 26, 26), rgb(51, 51, 51));
}

#inicial p{
    margin: 50px 50px;
}

#sobre{
    height: 1000px;
    padding: 20px 0px;
    background-image: linear-gradient(rgb(51, 51, 51), rgb(77, 77, 77));
    text-align: center;
}

#sobre img{
    padding: 100px 30px 30px 30px;
}

#sobre p{
    margin: 30px 0px;
}

#c-logo{
    width: 100px;
}

#py-logo{
    width: 100px;
}

#projetos{
    height: 1000px;
    padding: 50px;
    background-image: linear-gradient(rgb(77, 77, 77), rgb(102, 102, 102));
}

#projetos p {
    margin: 30px;
    text-align: justify;
}

#projetos img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sd-logo{
    width: 100px;
}

#prompt-logo{
    width: 100px;
}

#contato{
    height: 1000px;
    text-align: center;
    background-image: linear-gradient(rgb(102, 102, 102), rgb(128, 128, 128));
    padding: 50px;
}

#contato a{
    text-decoration: none;
    transition-duration: 0.1s;
    font-size: 20px;
}

#contato p{
    margin: 10px;
}

.contato-p{
    padding-bottom: 40px;
}

#contato img:hover{
    width: 150px;
    transition-duration: 0.1s;
}
#contato a:hover{
    color: rgb(153, 204, 255);
}

#inst-logo {
    width: 100px;
    transition-duration: 0.1s;
}

#git-logo{
    width: 90px;
    border: solid 3px black;
    border-radius: 15px;
    transition-duration: 0.1s;
}

#link-logo {
    width: 100px;
    transition-duration: 0.1s;
}

#wpp-logo {
    width: 100px;
    transition-duration: 0.1s;
}

#irtopo{
    background: transparent;
    border: none;
    font-size: 0;
    position: fixed;
    right: 5px;
    bottom: 10px;
}

#irtopo img {
    width: 60px;
    transition-duration: 0.1s;
}

#irtopo img:hover{
    width: 70px;
    transition-duration: 0.1s;
}